<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true%>
  </p>
  <p>
    <%= f.label :body, "Thoughts" %><br />
    <%= f.text_area :body, :required => true %>
  </p>
    <p>
    <%= f.label :publishdate, "Publish Date (DD/MM/YYYY)" %><br />
    <%= f.date_field :publishdate, :required => true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>	